* {
  padding: 0rem;
  margin: auto;
  box-sizing: border-box;
}
  
nav {
  background-image: url(./icons/image_geometry_1.png);
  background-repeat: no-repeat;
  height: 4.625rem;
  display: flex;
  align-items: center;
  justify-items: flex-end;
}

nav .menu {
  width: 1.25rem;
  margin-left: 17.75rem;
  margin-top: 1.188rem;
}

header {
  display: flex;
  align-items: center;
}

.homepage {
  width: 18rem;
  margin-top: 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.heading {
  font-family: Playfair Display;
  font-size: 50px;
  font-weight: 400;
}

.text p {
font-family: Poppins;
font-size: 0.875rem;
line-height: 1.313rem;
letter-spacing: -0.01rem;
}

.collaboration {
  width: 18rem;
  height: 3.125rem;
  margin: 2rem 1rem;
  background-color: #1A2236;
  color: white;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: center;

}
.image1 {
  background-image: url(icons/image_geometry_2.png);
  display: flex;
  width: 20rem;
  height: 10rem;
}


